
body{
    font-family: Arial;
    font-size: 16px;
}

.pap_labels{
     font-weight: bold; 
     padding-bottom: 10px;
         
}
.pap_desc{
    font-size: 14px;
    font-style: italic;
    padding-bottom: 15px; 
    padding-left: 50px; 
}

.pap_desc_cito {
    padding-left:50px;
}
.pap_labels_cito{
    font-style: normal;
}

table.pap_desc {
    padding-left: 0px;
}


.header_pap{
    font-size: 16px;
}