assets/*
uploads/*
vendor
vendor/*
!assets/.gitignore
!assets/admin
!assets/admin/*
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
.vscode
.vscode/*
config/db.php
